button {
    width: 180px;
    height: 50px;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 1rem;
    border: none;
    position: relative;
    background: #100720;
    transition: 0.1s;
    padding: 0;
    margin-top: 10px;
}

button::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: radial-gradient(
        circle farthest-corner at 10% 20%,
        rgba(255, 94, 247, 1) 17.8%,
        rgba(2, 245, 255, 1) 100.2%
    );
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}

button:active {
    transform: scale(0.9) rotate(3deg);
    background: radial-gradient(
        circle farthest-corner at 10% 20%,
        rgba(255, 94, 247, 1) 17.8%,
        rgba(2, 245, 255, 1) 100.2%
    );
    transition: 0.5s;
}

.bold-text {
    font-weight: bold;
    font-size: 16px;
}



a {
    text-decoration: none;
}

.button-85 {
    padding: 0.6em 2em;
    width: 180px;
    height: 45px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    margin-top: 10px;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-85:before {
    content: "";
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

/* CSS */
.button-64 {
    align-items: center;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.button-64:active,
.button-64:hover {
    outline: 0;
}

.button-64 span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.button-64:hover span {
    background: none;
}

@media (min-width: 768px) {
    .button-64 {
        font-size: 24px;
        min-width: 196px;
    }
}

.small-text {
    font-size: 12px;
    margin-left: 5px;
}

.newBtn {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    border: none;
    height: 45px;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 7px;
    background-color: #0070f3;
    color: white;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
    transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

.newBtn .button-icon {
    margin-right: 10px;
}

.newBtn .button-icon2 {
    margin-right: 10px;
}
.newBtn:hover {
    background: rgba(0, 118, 255, 0.9);
    box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
}

.newBtn2 {
    display: inline-flex; /* Use flexbox */
    align-items: center; /* Vertically center items */
    justify-content: center; /* Horizontally center items */
    outline: 0;
    cursor: pointer;
    border: none;
    margin-top: 10px;
    padding: 0 0px;
    height: 60px;
    line-height: 60px;
    border-radius: 7px;
    font-weight: 400;
    font-size: 16px;
    background: #fff;
    color: #696969;
    box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
    transition:
        background 0.2s ease,
        color 0.2s ease,
        box-shadow 0.2s ease;
}

.newBtn2:hover {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 6px 20px rgb(93 93 93 / 23%);
}

.button-icon {
    width: 20px; /* Adjust as needed */
    height: 20px; /* Adjust as needed */
    margin-right: 4px; /* Adjust as needed */
    vertical-align: middle;
    display: inline-block;
    object-fit: contain;
}
.button-icon2 {
    width: 24px; /* Adjust as needed */
    height: 24px; /* Adjust as needed */
    margin-right: 2px;
    margin-left: 4px; /* Adjust as needed */
    vertical-align: middle;
    display: inline-block;
    object-fit: contain;
}

/* Front matter comment to ensure Jekyll properly reads file. */

/* Default styles for all devices */

.app__screenshots-wrapper {
  display: flex;
  justify-content: center; /* Center horizontally */
  overflow-x: auto;
  white-space: nowrap;
  padding: 0; /* Remove top and bottom padding */
  margin: 0; /* Remove any margin */
}

.app__screenshots-list {
  max-width: 340px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 5px;
}

.app__screenshot {
  height: 100%;
  width: 150px; /* Default width */
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  transform: scale(1);
  cursor: pointer;
}

.app__screenshot:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.app__screenshot:not(:hover) {
  transition: transform 0.5s, box-shadow 0.5s;
}

/* Styles for devices with a width of 768px or more (typically desktops) */
@media (min-width: 768px) {
  .app__screenshots-list {
    margin: 8px;
    max-width: 900px; /* Larger width for desktop */
    gap: 10px; /* Increased gap */
  }

  .app__screenshot {
    width: 400px; /* Larger width for desktop */
    border-radius: 16px; /* Different border radius */
  }

  .app__screenshot:hover {
    transform: scale(1.1); /* Larger scale on hover */
  }
}

/* Media Query for Mobile Devices */



.container-desktop {
  margin: 0; /* Remove margin from the container */
  padding: 0; /* Remove padding from the container */
}
