<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

{% assign phonePaths = site.static_files | where: "path", "assets/screenshot/" %}
{% for file in phonePaths %}
    {% if forloop.index <= 3 %} {# Limit to three phones #}
        <script>
            $(function() {
                $(".iphoneScreen").eq({{ forloop.index0 }}).attr('src', '{{ site.github.baseurl }}{{ file.path }}');
                $(".iphoneScreen").eq({{ forloop.index0 }}).removeClass("hidden");
                console.log("{{ file.path }}");
            });
        </script>
    {% endif %}
{% endfor %}

{# Hide all other .iphoneScreen elements not used #}
<script>
    $(function() {
        $(".iphoneScreen").slice(3).addClass("hidden");
    });
</script>